header {
    height: 800px;
    background: #000000 url("../images/main-photo.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: scroll;
    background-position: center center;
}

nav {
    padding: 10px;
    text-align: left;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: darkslategrey;    
}

h1{
    width: fit-content;
    color: #ffffff;  
    font-size: 2.3em; 
    font-weight: bold;
    border: 8px solid #ffffff;
    padding:10px;
    margin: 20px 10px;
}

article {
    text-align: left;
    color: #3a3b3c;
    padding: 20px;
    background-color: cadetblue;
}


.work {
    background-color: coral;
    text-align: center;
}

.work a {
    text-decoration: none;
    padding: 10px;    
}

.work a:hover{
    background-color: darkkhaki;
    border: 2px solid burlywood;    
}

article h2 {   
    font-size: 2em;
    color: #000000;
    margin: 0;
    font-weight: bold;

}

footer {
    background-color: brown;
    text-align: center;
}
