body {
    color: 	#FFFAF0;
}

header {
    height: 700px;
    background: #000000 url("../images/main-photo.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: scroll;
    background-position: center center;
}

nav {
    padding: 10px;
    text-align: left;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: darkslategrey;    
}

h1{
    width: fit-content;
    color: #ffffff;  
    font-size: 2.3em; 
    font-weight: bold;
    border: 8px solid #ffffff;
    padding:10px;
    margin: 20px 10px;
}

article {
    text-align: center;
    color: #3a3b3c;
    padding: 20px;
}

.avatar {
    border-radius: 100%;
}

article p {
    text-align: left;    
}

h2 {   
    color: #000000;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

section {
    text-align: center;
    margin-bottom: 100px;
}

section a {
    text-decoration: none;
    padding: 10px;    
}

section a:hover{
    background-color: darkkhaki;
    border: 2px solid burlywood;    
}

section img {
    display: inline-block;
    width: 200px;
    height: 210px;
}

section h2 {
        padding: 100px 0 30px;
}

.divider {
    border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
    margin: 10px;
} 

footer {
    background-color: #8c8b8b; 
    padding: 30px 50px;
    text-align: center;
}
