<header>
    <input type="checkbox" id="menu-checkbox" />
    <nav role="navigation">
        <label for="menu-checkbox" class="toggle-button" onclick><i class="fa fa-bars fa-lg"></i></label>
        <ul class="menu">
            <li><a href="#page-one">Обо мне</a></li>
            <li><a href="#page-two">Услуги</a></li>
            <li><a href="#page-three">Портфолио</a></li>
            <li><a href="#page-four">Контакты</a></li>
        </ul>    
        <ul class="contacts">
            <li><a href="{{ site.vk }}" target="_blank"><i class="fa fa-vk fa-lg"></i></a></li>
            <li><a href="{{ site.instagram }}" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li>
            <li><a href="tel:+79118243651">{{ site.ph-number }}</a></li>
        </ul>
    </nav>
    <div class="header-container"> 
        <h1><big>Анастасия Чепелевская</big><br><small>визажист</small></h1>
    </div>
</header>