<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{{ site.title }}</title>
          
    
        <link type="text/css" rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">
        <link type="text/css" rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
        <!--<![endif]-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic|Ubuntu:400,400italic&subset=latin,cyrillic" rel="stylesheet" type="text/css">        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="css/reset.css">
        <link type="text/css" rel="stylesheet" href="css/pure-extension.css">
        <link type="text/css" rel="stylesheet" href="css/main.css">
       
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <link rel="stylesheet" href="js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <script type="text/javascript" src="js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
        <link rel="stylesheet" href="js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
        <script type="text/javascript" src="js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
        
        <meta property="og:title" content="{{ site.title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta property="og:image" content="{{ site.url }}/images/avatar.jpg" />
        <meta property="og:description" content="{{site.description}}" />

    </head>